{{#each questlist}}
 <section class="ui stacked segment">
   <h2 class="ui header">
     {{quest}}
   </h2>
   <p>Total Reward: {{reward}}</p>
   <a href="/questlist/{{id}}" class="ui icon button">
     <i class="icon folder open"></i>
   </a>
   <a href="/dashboard/deletequestlist/{{id}}"> <i class="ui trash icon"></i> </a>
</section>
{{/each}}