<nav class="ui menu">
  <header class="ui header item"> <a href="/"> QuestLog </a></header>
  <div class="right menu">
    <a id="questlog" class="questlog" href="/questlog"> QuestLog </a>
    <a id="developer" class="item" href="/developer"> Developer </a>
  </div>
</nav>

<script>
 
</script>

