{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Welcome to Quest log Organiser
  </p>
  <p>
    Created by Bartek Mrowicki
  </p>
  
  <a href="https://www.facebook.com/bartek.mrowicki"><i class="ui huge facebook icon"></i></a>
  <a href="https://www.instagram.com/wilczqu/"><i class="ui huge instagram icon pink"></i></a>
  <a href="https://github.com/BartekMrowicki"><i class="ui huge github icon yellow"></i>

</section>