{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Welcome to Quest log Organiser
  </p>
  <p>
    Created by Bartek Mrowicki
  </p>
  
  <i href="https://www.facebook.com/bartek.mrowicki" class="ui huge facebook icon"></i>
  <i class="ui huge instagram icon"></i>
  <i class="ui huge spotify icon"></i>

</section>