{{> menu id="Developer"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Welcome to Quest log Organiser
  </p>
  <p>
    Created by Bartek Mrowicki
  </p>
  
  <a href="https://www.facebook.com/bartek.mrowicki"><i class="ui huge facebook icon"></i></a>
  <a href="https://www.instagram.com/wilczqu/"><i class="ui huge instagram icon pink"></i></a>
  <a href="https://github.com/BartekMrowicki"><i class="ui huge github icon yellow"></i>
      <img class="ui medium circular image" src="https://scontent-dub4-1.xx.fbcdn.net/v/t1.0-9/36175896_1751674158247102_6868224125932929024_n.jpg?_nc_cat=106&_nc_ht=scontent-dub4-1.xx&oh=155cf5c0fc8b65f1470a4ac5bbd4088d&oe=5CDE30FD">
      <div class="ui inverted segment">
  <p></p>
  <div class="ui inverted divider"></div>
  <p></p>
  <h4 class="ui horizontal inverted divider">
    Horizontal
  </h4>
</div>
    </section>
  
  
  <section class="ui center aligned middle aligned segment">
  <div class="mapouter"><div class="gmap_canvas"><iframe width="1000" height="100" id="gmap_canvas" src="https://maps.google.com/maps?q=Y34D920&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">pureblack.de</a></div><style>.mapouter{text-align:right;height:100px;width:1000px;}.gmap_canvas {overflow:hidden;background:none!important;height:100px;width:1000px;}</style>Google Maps by <a href="https://www.embedgooglemap.net" rel="nofollow" target="_blank">Embedgooglemap.net</a></div>
     </section>