{{> menu id="Developer"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Welcome to Quest log Organiser
  </p>
  <p>
    Created by Bartek Mrowicki
  </p>
  
  <a href="https://www.facebook.com/bartek.mrowicki"><i class="ui huge facebook icon"></i></a>
  <a href="https://www.instagram.com/wilczqu/"><i class="ui huge instagram icon pink"></i></a>
  <a href="https://github.com/BartekMrowicki"><i class="ui huge github icon yellow"></i>
    
    <div class="map">
      
        <iframe  id="map" src="https://maps.google.com/maps?q=Y34D920&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        
      </div>
     
    
</section>