{{> menu id="QuestLog"}}

{{#each questlists}}
  <section class="ui segment">
    <h2 class="ui header">
      {{quest}}
    </h2>
    <p> Total Quests: {{reward}} </p>
    <a href="/questlist/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deletequestlist/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}