{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Quest Log Organiser by Bartek Mrowicki  
  </h1>
  <p>
    A small application that will allow you to sort out your quest, do them online remotely and be on top of your game.
  </p>
  <div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Im a starting web developer which is into gaming and struggles sometimes to find quests I need.</p>
      <p>Scrolling through quest logs is usually flustrated just swapping through diffrent tabs can be annoying.</p>
      <p>What my aim is, is to provide you with possibilitiy to keep your questing experience orginised and easier.</p>
      <p></p>
    </div>
    <div class="column">
      <p>content</p>
      <p>content</p>
      <p>content</p>
      <p>content</p>
    </div>
  </div>
  <div class="ui vertical divider">
    Quest Log
  </div>
</div>
</section>