{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Quest Log Organiser by Bartek Mrowicki  
  </h1>
  <p>
    A small application that will allow you to sort out your quest, do them online remotely and be on top of your game.
  </p>
</section>