{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Quest Log Organiser by Bartek Mrowicki  
  </h1>
  <p>
    A small application that will allow you to sort out your quest, do them online remotely and be on top of your game.
  </p>
  <div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Im a starting web developer which is into gaming and struggles sometimes to find quests I need.</p>
      <p>Scrolling through quest logs is usually flustrated just swapping through diffrent tabs can be annoying.</p>
      <p>What my aim is, is to provide you with possibilitiy to keep your questing experience orginised and easier.</p>
      <p></p>
    </div>
    <div class="column">
      <p>The funcionality of my quest log will allow you to make your own list of your quest as well as events.</p>
      <p>In later stage of my app yous will be able to do things like listing your mounts in game including images.</p>
      <p>If you have any idea and would like to share with me to implement it with my next update check out my contact page</p>
      
    </div>
  </div>
  <div class="ui vertical divider">
   
  </div>
</div>
</section>