body {
   background-image: url("https://wallpapercave.com/wp/sYzXDcX.jpg");
  background-size:cover;
  
}
p{
font-family:Georgia, serif;
  font-size:20px;
}
.ui.table thead th {
  background-color:#43464B;
  color:darkorange;
}

.ui.header{
background-color:#43464B;
  color:darkorange;
}
.ui.center.aligned.middle.aligned.segment {
background-color:#43464B;
  color:white;
  
}
nav.ui.menu {
background-color:#43464B;
  
}
.ui.menu .item{
  background-color:black;
color:white;
}



.fa {
  padding: 40px;
  font-size: 60px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 70%;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
  font-size:30px;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.column {
background-color:black;
text-align:center;
  color:white;
  padding-right:15px;
  padding-left:15px;
  
}

.ui.segment{
background-color:black;
  color:white;
  text-align:center;
}
.ui.two.column.very.relaxed.grid {
margin-left:0;
  margin-right:0;
}
.map{

  
  padding:10px 20px;
  
}

a.questdiary {
background-color:black;
  color:white;
  text-align:center;
  padding-top:18px;
  padding-left:5px;
}

.ui.table tr td {
    border-top: 1px solid rgba(34,36,38,.1);
    color: cyan;
    background-color: maroon;
}
  